body{
    background-color: #32943cb2;
    margin-left: 100px;
    font-family: cursive;
}

table, th, td {
    table-layout: fixed;
    /*width: 80%;*/
    border-collapse: collapse;
    border: 2px solid white;
}